<component name="ArtifactManager">
  <artifact type="war" name="spring-mybatis-basic:war">
    <output-path>$PROJECT_DIR$/springmybatis/spring-mybatis-basic/target</output-path>
    <root id="archive" name="spring-mybatis-basic-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-mybatis-basic:war exploded" />
    </root>
  </artifact>
</component>